{% if pagination.hrefs.length > 1 %}
<nav>
  <ul class="pagination">
    {% for pageEntry in pagination.pages %}
    <li class="pagination__item">
      <a
        href="{{ pagination.hrefs[loop.index0] }}"
        aria-label="Page {{ loop.index }}"
        {% if page.url == pagination.hrefs[loop.index0] %}
          aria-current="page"
        {% endif %}>
        {{ loop.index }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}