---
layout: page.njk
---

{% include 'header.njk' %}

<main>
  <div class="post-hero">
    <img src="{{ image }}"/>
    <div class="post-text-wrapper">
      <h2>
        {{ title }}
      </h2>
      <p>{{description}}</p>
    </div>
    
  </div>
  <div class="post-content">
    {{ content | safe }}
  </div>
</main>

{% include 'footer.njk' %}